.card {
     background: rgb(241, 240, 255);
     background: linear-gradient(90deg, rgba(241, 240, 255, 1) 0%, rgba(256, 256, 255, 1) 63%);
     border-radius: 20px;
     text-align: center;
     padding: 5% 3%;
     box-shadow: 16px 0px 31px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
     background: rgb(76, 231, 154);
     background: linear-gradient(270deg, rgba(76, 231, 154, 1) 0%, rgba(6, 142, 51, 1) 63%);
     color: white;
}