.card {
     background: rgb(241, 240, 255);
     background: linear-gradient(90deg, rgb(208, 207, 224) 0%, rgba(253, 251, 255, 1) 63%);
     border-radius: 20px;
     text-align: center;
     padding-top: 3%;
     padding-bottom: 3%;
     box-shadow: 16px 0px 31px 8px rgba(0, 0, 0, 0.1);
     line-height: 60%;
}

.card h2 {
     font-size: 2em;
     font-weight: 600;
}

.card h1 {
     font-weight: 700;
}

.card p {
     font-size: 0.7em;
     font-style: italic;
}

.card:hover {
     background: rgb(76, 231, 154);
     background: linear-gradient(270deg, rgba(76, 231, 154, 1) 0%, rgba(6, 142, 51, 1) 63%);
     color: white;
}